.form, .fields {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form 
input[type="text"],
.form select {
    padding:1.5rem;
    background-color: transparent;
    border: .3rem solid var(--white);
    color: var(--white);
    border-radius: 1rem;
}

.field ::placeholder {
    color: var(--white);
}

.submit {
    background-color: transparent;
    border: .3rem solid var(--white);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2rem;
    border-radius: 1rem;
    color: var(--white);
    transition: all .5s ease-out;
}

.submit:hover {
    cursor: pointer;
    background-color: var(--primary);
    border: .3rem solid var(--primary);
}